<script id="mermaid-script" async src="https://cdn.jsdelivr.net/npm/mermaid@9.1.7/dist/mermaid.min.js"></script>
<script>
    document.getElementById('mermaid-script')
        .addEventListener('load', () => {
            mermaid.initialize({ startOnLoad: true, theme: 'neutral' })
        })
</script>
<script id="osmd-script" async src="https://cdn.jsdelivr.net/npm/opensheetmusicdisplay@1.5.7/build/opensheetmusicdisplay.min.js"></script>
<script>
    (() => {
        document.addEventListener('DOMContentLoaded', loadOsmd)
        document.getElementById('osmd-script').addEventListener('load', loadOsmd)

        let wait = true

        function loadOsmd() {
            if (wait) {
                wait = false
                return
            }

            document.querySelectorAll('.osmd-container').forEach((container) => {
                const osmd = new opensheetmusicdisplay.OpenSheetMusicDisplay(
                    container,
                    {
                        drawingParameters: 'compacttight',
                    },
                )

                osmd.load(container.dataset.musicXmlSrc)
                    .then(() => {
                        osmd.render()
                    })
            })
        }
    })();
</script>
