<script id="mermaid-script" async src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
    document.getElementById('mermaid-script')
        .addEventListener('load', () => {
            mermaid.initialize({ startOnLoad: true, theme: 'neutral' })
        })
</script>
<script id="osmd-script" async src="https://cdn.jsdelivr.net/npm/opensheetmusicdisplay@1.5.7/build/opensheetmusicdisplay.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('osmd-script').addEventListener('load', () => {
            document.querySelectorAll('.osmd-container').forEach((container) => {
                const osmd = new opensheetmusicdisplay.OpenSheetMusicDisplay(
                    container,
                    {
                        drawingParameters: 'compacttight',
                    }
                )

                osmd.load(container.dataset.musicXmlSrc)
                    .then(() => {
                        osmd.render()
                    })
            })
        })
    })
</script>
